#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div_label{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.div_3{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.register {
  display: flex;
  justify-content: center;
}

.registro {
  display: flex;
  flex-direction: column;
}

.cadastro {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}